/replica-semantic-saved-maps-gt/
/mapping_process.log
*.rrd

/open-eqa/data/scannet/
/ScanNet/data-scannet/
/LLaVA/llama-7b/
/LLaVA/checkpoint/

/Grounded-Segment-Anything/*.pth
/Grounded-Segment-Anything/*.pth.*

*.pth
*.pt

/hydra-logs/

/concept-graphs/latest_pcd_save

/Datasets/scenediff/*
!/Datasets/scenediff/living_room_17_living_room_18
!/Datasets/scenediff/test_split.json
!/Datasets/scenediff/val_split.json
/outputs/*
!/outputs/living_room_17_living_room_18

/ground-truth/*
!/ground-truth/living_room_17_living_room_18

/concept-graphs/conceptgraph/dataset/dataconfigs/scenediff/*
!/concept-graphs/conceptgraph/dataset/dataconfigs/scenediff/living_room_17_living_room_18

/outputs-history/
