cyws-3d.ckpt
output/scenediff_benchmark/*
!output/scenediff_benchmark/living_room_17_living_room_18
vis_figures/
save_dir/
.vscode/
__pycache__/

*.ply
data_splits/
*.pkl
eval_list_dir/
data/scenediff_benchmark.zip
data/scenediff_benchmark/data/*
!data/scenediff_benchmark/data/living_room_17_living_room_18
data/scenediff_benchmark/vis
checkpoints/sam_vit_h_4b8939.pth